:root{
    --background-modal-pokemon: rgb(255, 255, 255);
    --color-text-header: rgb(237, 237, 237);
    --color-background-stats: rgb(255,203,5);
    --color-header-footer-modal: rgb(0, 78, 167);
    --color-border: rgb(42, 116, 186);
}

.modal-dark{
    --background-modal-pokemon: rgb(237, 237, 237);
    --color-text-header: rgb(237, 237, 237);
    --color-background-stats: rgb(85,85,85);
    --color-header-footer-modal: rgb(44, 45, 49);
    --color-border: rgb(56, 56, 56);
}

.header {
    color: var(--color-text-header);
    background-color: var(--color-header-footer-modal) !important;
}

.footer {
    color: var(--color-text-header);
    background-color: var(--color-header-footer-modal) !important;
}

/* .header-footer{
    color: var(--color-text-header);
    background-color: var(--color-header-footer-modal);
} */

.background-stats{
    background-color: var(--color-background-stats);
    border-radius: 1rem;
    border: 2px solid var(--color-border);
    color: white; 
} 

.background-stats .modal-dark {
    background-color: var(--color-background-stats);
    border-radius: 1rem;
    border: 2px solid var(--color-border);
    color: white;
}

.background-info{
    background-color: var(--background-modal-pokemon);
}

.background-info .modal-dark{
    background-color: var(--background-modal-pokemon);
}

.text-type-1{
    padding: 4px;
    border-radius: 10px 0px 0px 10px;
}

.text-type-2{
    padding: 4px;
    border-radius: 0px 10px 10px 0px;
}

.text-type-only{
    padding: 4px 4px 4px 4px;
    border-radius: 10px;
}

.custom-progress-bar {
    border: 1px solid #70707085; /* Añade un borde negro */
  }

.pokemon-design-config{
    margin: 0rem 0rem 1rem 0rem;
}

.swiper-img {
    width: 90%;
    height: auto;
}

.evolution-chain-images {
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  
  .evolution-step {
    text-align: center;
  }

/* .card-data-pokemon{
    padding: 0.5rem;
    border: 2px solid #2A74BA;
    border-radius: 10px;
    background-color: #FFCB05;
    margin-bottom: 1rem;
} */


.abilities{
    padding: .3rem;
    margin: 1px 5px 1px 0px !important;
    border-radius: .7rem !important;
    
}

@media (max-width: 991px){
    .pokemon-chain{
        margin-bottom: 1rem;
    }
  }